{% extends "base.html" %} 
{% block title %} View {% endblock %} 
{%block content%}
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });
    </script>
<h1 align="center" class="text-primary mt-1">
    View
</h1>
{% if viewing == False %}
<p style="text-align:center"><i>Here, you can view a friend's list using their email id and access phrase.</i></p>
<div class="container-sm" align="center">
    <form action ="/view" method="POST">
            <div class="form-row" align="center">
                <div class="col-5"
                    <label for="email">Friend's Email</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="friend_email" 
                        name="friend_email" 
                    >
                </div>
                <div class="col-5"
                    <label for="lastName">Friend's Access Phrase</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="friend_ap" 
                        name="friend_ap" 
                    >
                </div>
            <div style="width:5px"></div>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>
        </form>
</div>
{% endif %}
</br>
{% if gifts == None %}
<h2 align="center" class="text-primary mt-1">
    You are currently not viewing anyone's list. Complete the form above!
</h2>
{% else %}
<h2 align="center" class="text-primary mt-1">
    Currently viewing {{name.title()}}'s list
</h2>

<div class="row row-cols-md-3">
{% for gift in gifts%}
    <div class="col mb-4">
      <div class="card border-primary h-100">
          <div class="card-body d-flex flex-column" style="max-height:300px;overflow:auto;">
              <h5 class="card-title">{{gift.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">${{gift.price}}</h6>
          <p class="card-text">{{gift.description}}</p>
          <a href="{{gift.link}}" class="btn btn-primary mt-auto">Search for this gift</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
<div class="row justify-content-center">
    <a href="/view" class="btn btn-primary" text-align>See someone else's gift list</a>
</div>
{% endif %}
{%endblock%}